/* 
  font-color: rgb(203, 203, 203)
*/
* {
  -webkit-font-smoothing: antialiased;
  /* font-family: SpoqaHanSans, Roboto, "Helvetica Neue", sans-serif !important; */
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important; 
}

body {
  background-color: rgb(250, 250, 250);
}

strong {
  font-weight: 400;
}

.point_color {
  color: rgb(34, 84, 178);
}

.hidden {
  display: none;
}

