header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
}

.header_wrap {
  display: flex;
  align-items: center;
  max-width: 1140px;
  height: 48px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 94px;
  height: 48px;
}

.logo_png {
  width: 94px;
  height: 16px;
}

.logo a{
  width: 94px;
  height: 16px;
}

.gnb {
  width: 869px;
  padding-left: 80px;
}

.gnb_ul {
  display: flex;
  align-items: center;
  height: 48px;
  padding-top: 1px;
}

.gnb_ul li {
  height: 22px;
}

.gnb_ul li:nth-child(2),
.gnb_ul li:nth-child(3),
.gnb_ul li:nth-child(4),
.gnb_ul li:nth-child(5){
  padding-left: 40px;
}

.gnb_ul li a{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  display: block;
  color: rgb(131, 131, 131);
  height: 24px;
  line-height: 22px;
}

/* top menu */

.top_menu {
  display: flex;
  align-items: center;
}

.login_btn {
  display: flex;
  align-items: center;
  height: 48px;
}

.login_btn p {
  font-size: 14px;
  letter-spacing: -0.04em;
  padding-top: 1px;
}

.otherstore_btn {
  width: 48px;
  height: 48px;
  margin-left: 26px;
  padding-right: 18px;
}

.otherstore_icon {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
}

.shoppingcart_btn {
  width: 48px;
  height: 48px;
  padding-top: 1px;
}

.shoppingcart_icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}